.header__background {
    /* The image used */
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background: url("../assets/images/header-bg-images/image1.jpg") no-repeat center;
    background-size: cover;
    transition: background 1s linear;
}

.header__logo{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header__logo--white-180{

    color:white;
    font-size: 180px;
    font-family: WolfintheCity;
}

.header__logo--line-height-80{
    line-height: 80px;
}

#bg-images-rotation-list{
    display: none;
}