.navigation-bar__section{
    position: relative;
    height: 60px;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.navigation-bar__burger-menu{
    position: absolute;
    left: 15px;
    top: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.navigation-bar__berger-menu--subtitle{
    position: relative;
    bottom: 5px;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.navigation-bar__logo-menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-family: WolfintheCity;
    font-size: 50px;
    line-height: 60px;
    padding: 0;
    margin: 0;
}

.navigation-bar__sections-nav{
    position: absolute;
    top: 10px;
    right: 20px;
}

.navigation-bar__sections-nav--list{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.navigation-bar__sections-nav--item{
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.navigation-bar__sections-nav--light{
    background: darkgrey;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.active-section-light{
    background: orange;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


.navigation-bar__sections-nav--subtitle{
    margin-top: 10px;
}


.navigation-bar__section--link{
    text-decoration: none;
    color: white;
}

.navigation-bar__section--link:hover{
    text-decoration: none;
    color: white;
}

.navigation-bar__section--link:visited{
    text-decoration: none;
    color: white;
}


.menu-side__section{
    position: relative;
    height: 100vh;
    background-color: black;
    width: 250px;
    left: -250px;

    color: white;
}


.menu-side__header{
    height: 60px;
}

.menu-side__body{
}
.menu-side-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    font-family: WolfintheCity;
    font-size: 60px;
    line-height: 55px;
}

.close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

